<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
        .xyz{
          margin-bottom: 0px;
          margin-top: 50px;
          background-image: url('{% static "screenshots/homepage.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
</style>
<body>
  {% include "insurance/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
  <div class="container text-center">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
  </div>  
</section>



  {% include "insurance/footer.html" %}


</body>

</html>
